server:
  port: 8081

spring:
  application:
    name: auth-service
  data:
    mongodb:
      host: ${MONGO_HOST:localhost}
      port: ${MONGO_PORT:27017}
      database: auth_db

# Configuration du token
auth:
  token:
    expiration-hours: 1
